h2 Map View - #[span.red Click on Map Marker for details]

.row
  .col-md-12
    ng-map#map(center="{{mv.mapConf.center}}" zoom="{{mv.mapConf.zoom}}")
      marker(
        ng-repeat="station in mv.stations"
        icon="{{mv.getIcon(station.percentage, 0, 50)}}"
        position="[{{station.lat}}, {{station.lon}}]"
        title="{{station.name}}"
        on-click="mv.clickHandler({{station}})"
      )

.row(ng-if="mv.detail.visible")
  .col-md-12

    .panel.panel-default
      .panel-heading
        H3.inline {{mv.detail.content.name}}
        span(style="position:relative")
          span.label(ng-class="mv.getClass(mv.detail.content.percentage)" style="margin-left: 15px; top: -3px; padding: 5px 10px;position: absolute;font-weight: bold;") {{mv.detail.content.percentage}}% Unused
          button.btn.btn-xs.btn-primary.pull-right(ng-click="mv.hide()") Hide

      .panel-body
        .row
          .col-md-4
            table.table.table-striped.bigger-content
              thead
                th Location
              tbody
                tr
                  td.head Station ID
                  td {{mv.detail.content.station_id}}
                tr
                  td.head Latitude
                  td {{mv.detail.content.lat}}
                tr
                  td.head Longitude
                  td {{mv.detail.content.lon}}
          .col-md-4
            table.table.table-striped.bigger-content.col-md-4
              thead
                th Bike Details
              tbody
                tr
                  td.head Capacity
                  td {{mv.detail.content.capacity}}
                tr
                  td.head Bikes Available
                  td {{mv.detail.content.num_bikes_available}} ({{mv.detail.content.percentage}})
                tr
                  td.head In Transit
                  td {{mv.detail.content.used}}
          .col-md-4
            table.table.table-striped.bigger-content.col-md-4
              thead
                th Availability
              tbody
                tr
                  td.head Renting?
                  td(ng-if="mv.detail.content.is_renting") Yes
                  td(ng-if="!mv.detail.content.is_renting") No
                tr
                  td.head Last Reported
                  td {{mv.getDate()}}
                tr
                  td.head Bikes Disabled
                  td {{mv.detail.content.num_bikes_disabled}}