H2 Current Usage

H3 Global Usage
hr
.row
  .col-md-5
    .panel.panel-default
      .panel-heading
        H3.inline Bikes in Transit
      .panel-body
        c3chart(bindto-id="global-usage")
          chart-column(column-id="In Transit" column-values="{{cu.usage.totalUsed}}" column-type="gauge")
          chart-gauge(min="0" max="{{cu.usage.totalCapacity}}" width="50")

  .col-md-4
    .panel.panel-default
      .panel-heading
        H3.inline Docks Detail
      .panel-body
        table.table.bigger-content.stat-table
          thead
            th Available
            th Disabled
          tbody
            tr
              td {{cu.usage.totalDocksAvailable}}
              td {{cu.usage.totalDocksDisabled}}

  .col-md-3
    .panel.panel-default
      .panel-heading
        H3.inline Available to Use
      .panel-body
        .stat-num {{cu.usage.percentageAvailable}}%


H3.inline(ng-if="!cu.detail.visible") Selected Usage
div(ng-if="cu.detail.visible")
  H3.inline {{cu.detail.content.name}}
  span(style="position:relative")
    span.label(ng-class="cu.getClass(cu.detail.content.percentage)" style="margin-left: 15px; top: -3px; padding: 5px 10px;position: absolute;font-weight: bold;") {{cu.detail.content.num_bikes_available}} out of {{cu.detail.content.capacity}} Bikes Available
    button.btn.btn-xs.btn-primary.pull-right(ng-click="cu.hide()") Unselect
hr

.row(ng-if="!cu.detail.visible")
  .col-md-12
    .notification.red Please select pin from map

.row(ng-if="cu.detail.visible")
  .col-md-5
    .panel.panel-default
      .panel-heading
        H3.inline Bikes in Transit
      .panel-body
        c3chart(bindto-id="current-usage" chart-columns="cu.detail.gauge.col" chart-data="cu.detail.gauge.data" callback-function="cu.cb")
          chart-gauge(min="0" max="{{cu.detail.content.capacity}}" width="50")

  .col-md-4
    .panel.panel-default
      .panel-heading
        H3.inline Docks Detail
      .panel-body
        table.table.bigger-content.stat-table
          thead
            th Available
            th Disabled
          tbody
            tr
              td {{cu.detail.content.num_docks_available}}
              td {{cu.detail.content.num_docks_disabled}}

  .col-md-3
    .panel.panel-default
      .panel-heading
        H3.inline Available to Use
      .panel-body
        .stat-num {{cu.detail.content.percentage}}%
br

.row
  .col-md-12
    ng-map#map(center="{{cu.mapConf.center}}" zoom="{{cu.mapConf.zoom}}")
      marker(
      ng-repeat="station in cu.stations"
      icon="{{cu.getIcon(station.percentage, 0, 50)}}"
      position="[{{station.lat}}, {{station.lon}}]"
      title="{{station.name}}"
      on-click="cu.clickHandler({{station}})"
    )
