H1 Questions
.row
  .col-md-12
    p.
      NYC has the largest bike sharing program in the US.
      The status and usage data for each station in the city is open and available as a live JSON stream. #[br]
      Static station information, such as, its location is available here:
    pre https://gbfs.citibikenyc.com/gbfs/en/station_information.json
    p.
      Dynamic station information, such as, the number of currently available bikes is accessible here: #[br]
    pre https://gbfs.citibikenyc.com/gbfs/en/station_status.json

.row
  .col-md-12
    H3 #[b Q1: Map View] #[a.btn.btn-xs.btn-primary(ui-sref="mapView") Solution]
    p.
      Each bike station is represented by a marker on a map with the following colour coding: #[br]
      Red -> No free bikes #[br]
      Orange -> Less than 50% bikes available #[br]
      Green -> Greater than 50% bikes available

    H3 #[b Q2: Distance-based Query] #[a.btn.btn-xs.btn-primary(ui-sref="distanceQuery") Solution]
    p.
      Given a station name and a distance in km, the query interface will whittle down the map
      view to only those stations that fall within “distance” from the target station.

    H3 #[b Q3: Current Usage] #[a.btn.btn-xs.btn-primary(ui-sref="currentUsage") Solution]
    p.
      A graphical representation of the current usage of individual stations as well as a global view.

    H3 #[b Q4: Historical Usage] #[a.btn.btn-xs.btn-primary(ui-sref="historicalUsage") Solution]
    p.
      A graphical representation of the minute-wise usage of individual stations as well as a global view.

    H3 #[b Q5: Search] #[a.btn.btn-xs.btn-primary(ui-sref="distanceQuery") Solution]
    p.
      The search bar (auto complete will be brilliant) enables the user to filter the above two usage views to a particular station by its name.

.row
  blockquote
    p.
      The solution should be a web app implemented using JS (Angular, React, or Ember).
      The code should be uploaded to github with a README.md with instructions.
      The codebase should also include unit tests where appropriate.