div.spinner(ng-show="spinner")
  h1 Loading ...

div(ng-hide="spinner")
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        span.navbar-brand Assignment

  .container-fluid
    .row
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="welcome") Questions
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="mapView") Map View
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="distanceQuery") Distance Based Query
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="currentUsage") Current Usage
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="historicalUsage") Historical Usage
          li(role="presentation" ui-sref-active="active")
            a(type="button" ui-sref="search") Search Bar
      .col-md-9(ui-view="content")

.footer