H2 Search

.row
  .col-md-12
    ui-select(ng-model="search.selected" theme="bootstrap")
      ui-select-match(placeholder="Select or search a location from list") {{$select.selected.name}}
      ui-select-choices(repeat="item in search.stations | filter: $select.search")
        div(ng-bind-html="item.name | highlight: $select.search")
        small Lat &nbsp
        small(ng-bind-html="item.lat | highlight: $select.search")
        small &nbsp Lon &nbsp
        small(ng-bind-html="item.lon | highlight: $select.search")
br

.row(ng-if="search.detail.visible")
  .col-md-12

    .panel.panel-default
      .panel-heading
        H3.inline {{search.detail.content.name}}
        span(style="position:relative")
          span.label(ng-class="search.getClass(search.detail.content.percentage)" style="margin-left: 15px; top: -3px; padding: 5px 10px;position: absolute;font-weight: bold;") {{search.detail.content.percentage}}% Unused
          button.btn.btn-xs.btn-primary.pull-right(ng-click="search.hide()") Hide

      .panel-body
        .row
          .col-md-4
            table.table.table-striped.bigger-content
              thead
                th Location
              tbody
                tr
                  td.head Station ID
                  td {{search.detail.content.station_id}}
                tr
                  td.head Latitude
                  td {{search.detail.content.lat}}
                tr
                  td.head Longitude
                  td {{search.detail.content.lon}}
          .col-md-4
            table.table.table-striped.bigger-content.col-md-4
              thead
                th Bike Details
              tbody
                tr
                  td.head Capacity
                  td {{search.detail.content.capacity}}
                tr
                  td.head Bikes Available
                  td {{search.detail.content.num_bikes_available}} ({{search.detail.content.percentage}})
                tr
                  td.head In Transit
                  td {{search.detail.content.used}}
          .col-md-4
            table.table.table-striped.bigger-content.col-md-4
              thead
                th Availability
              tbody
                tr
                  td.head Renting?
                  td(ng-if="search.detail.content.is_renting") Yes
                  td(ng-if="!search.detail.content.is_renting") No
                tr
                  td.head Last Reported
                  td {{search.getDate()}}
                tr
                  td.head Bikes Disabled
                  td {{search.detail.content.num_bikes_disabled}}

br

.row(ng-if="search.detail.visible")
  .col-md-5
    .panel.panel-default
      .panel-heading
        H3.inline Bikes in Transit
      .panel-body
        c3chart(bindto-id="current-usage" chart-columns="search.detail.gauge.col" chart-data="search.detail.gauge.data" callback-function="search.cb")
          chart-gauge(min="0" max="{{search.detail.content.capacity}}" width="50")

  .col-md-4
    .panel.panel-default
      .panel-heading
        H3.inline Docks Detail
      .panel-body
        table.table.bigger-content.stat-table
          thead
            th Available
            th Disabled
          tbody
            tr
              td {{search.detail.content.num_docks_available}}
              td {{search.detail.content.num_docks_disabled}}

  .col-md-3
    .panel.panel-default
      .panel-heading
        H3.inline Available to Use
      .panel-body
        .stat-num {{search.detail.content.percentage}}%