/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.footer {
  height: 50px;
}

#map {
  height: 400px;
}
.bigger-content {
  font-size: 15px;
}
.stat-table {
  margin-top: 18px;
  th, td {
    text-align: center;
  }

  th {
    font-size: 25px;
  }
  
  td {
    font-size: 40px;
  }
}

.ui-select-container {
  .btn-default {
    background-color: white;

    &:hover {
      background-color: white;
    }

    &:active {
      background-color: white;
    }
  }
}

.inline {
  display: inline;
}

.stat-num {
  font-size: 100px;
  font-weight: 100;
  margin: 10px 30px;
}

.notification {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 20px;
}

.red {
  color: red;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
