h2 Distance Query

.row
  .col-md-4
    ui-select(ng-model="dq.selected" theme="bootstrap")
      ui-select-match(placeholder="Select or search a location from list") {{$select.selected.name}}
      ui-select-choices(repeat="item in dq.stations | filter: $select.search")
        div(ng-bind-html="item.name | highlight: $select.search")
        small Lat &nbsp
        small(ng-bind-html="item.lat | highlight: $select.search")
        small &nbsp Lon &nbsp
        small(ng-bind-html="item.lon | highlight: $select.search")

  .col-md-2
    select.form-control
      option 1 km
      option 2 km
      option 5 km
      option 7 km

br

.row
  .col-md-12
    ng-map#map(center="{{dq.mapConf.center}}" zoom="{{dq.mapConf.zoom}}")
      marker(
        ng-repeat="station in dq.stations"
        icon="{{dq.getIcon(station.percentage, 0, 50)}}"
        position="[{{station.lat}}, {{station.lon}}]"
        title="{{station.name}}"
        on-click="dq.clickHandler({{station}})"
      )
    
.row(ng-if="dq.detail.visible")
  .col-md-12
    .panel.panel-default
      .panel-heading
        H3.inline {{dq.detail.content.name}}
        span(style="position:relative")
          span.label(ng-class="dq.getClass(dq.detail.content.percentage)" style="margin-left: 15px; top: -3px; padding: 5px 10px;position: absolute;font-weight: bold;") {{dq.detail.content.percentage}}% Unused
          button.btn.btn-xs.btn-primary.pull-right(ng-click="dq.hide()") Hide
      .panel-body
        table.table.bigger-content
          thead
            th.col-md-2 Item
            th.col-md-10 Detail
          tbody
            tr(ng-repeat="(key, value) in dq.detail.content")
              td {{key}}
              td {{value}}

